.mainTools {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
}

.tools {
  width: 25vw;
  height: auto;
}

.form-group {
  display: grid;
  padding: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid lightgray;
}

.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

li {
  list-style-type: none;
}

li label{
  display: flex;
  justify-content: center;
  align-items: center;
}

li:nth-last-child(1) {
  margin-right: 1.5rem;
}

.spanTool {
  font-weight: bold;
}

.spanHashtag {
  font-size: x-large;
}

.spanTool2 {
  font-size: small;
  color: gray;
}

.area{
  padding:100px;
  background-color: lightgray;
  border-radius: 20px;
  margin-top: 3rem;
}

.spanTest {  
  margin-top: 3rem;
  font-weight: bold;
  font-size: x-large;
}